<a href="{{ href }}" class="btn bg-primary inline-flex gap-4 {{ btnStyle }}" download="{{ imgName }}">
    <img class="w-8 h-8 invert" src="{{ iconUrl }}" alt="icon" />
    <span>
        {{ btnName }}
    </span>
</a>