{% for wallpaper in wallpapers %}
    <div data-id="{{ wallpaper.id }}" itemprop="associatedMedia" data-width="{{ wallpaper.width }}" data-height="{{ wallpaper.height }}" itemscope="" itemtype="http://schema.org/ImageObject" class="inline-flex w-full max-w-lg rounded-xl border border-border shadow-md relative overflow-hidden group mb-2 md:mb-4">
      <figure class="w-full">
        <meta itemprop="description" content="{{ wallpaper.description }}">
        <link itemprop="contentUrl" href="{{ wallpaper.url }}">
        <a itemprop="url" href="/wallpaper/{{ wallpaper.filename }}" class="w-full">
          <img 
            style="aspect-ratio: {{ wallpaper.resolution|replace({',': '/'}) }}; width: 500px" 
            {% if lazyload is defined %}
              class="w-full h-auto object-cover wallpaperCardLazyLoad animate-pulse" 
              src="https://gloztik.com/public/image/webp/200/{{ wallpaper.filename }}.webp" 
              loading="lazy" 
            {% else %}
              class="w-full h-auto object-cover" 
              src="https://gloztik.com/public/image/webp/500/{{ wallpaper.filename }}.webp" 
            {% endif %}
            itemprop="thumbnail" 
            data-src="https://gloztik.com/public/image/webp/{{ wallpaperCardPixel }}/{{ wallpaper.filename }}.webp" alt="{{ wallpaper.title }}" title="{{ wallpaper.title }}"
          >
          <span class="inline-flex flex-col bg-background/75 backdrop-blur-xl absolute -bottom-full group-hover:bottom-0 left-0 w-full p-2 md:p-4 rounded-t-md border-t border-border transition-all">
            <strong class="invisible">full hd wallpaper</strong>
            <strong class="text-xs sm:text-sm font-mono">{{ wallpaper.resolution }}</strong>
            <h2 class="line-clamp-1 text-xs sm:text-sm font-medium">
                {{ wallpaper.title }}
            </h2>
          </span>
        </a>
        <figcaption itemprop="caption description" class="sr-only">{{ wallpaper.description }}</figcaption>
      </figure>
    </div>
{% endfor %}